venv/
.vs/
logs/
migrations/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env
*.idea

secret_keys.py
~$B_Spec.docx
*.sqlite3
/chatbots/db.sqlite3
