{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet" />
    <link type="text/css" href="{% static 'main.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v131_76">
        <div class="title">
            <div class="v131_266">
                <div class="titleSquare2"><a href="https://youtu.be/dQw4w9WgXcQ"></a></div>
                <div class="v131_268"></div>
            </div><span class="v131_269"><a href="https://youtu.be/dQw4w9WgXcQ">DestinAIry</a></span>
        </div>
        <div class="v131_270"></div><span class="v131_271"><a href="https://youtu.be/dQw4w9WgXcQ" class="my-link">Profile</a></span><span class="v131_272">About us</span><span class="v131_273"><a href="https://youtu.be/dQw4w9WgXcQ">Trips</a></span>
        <div class="v131_330">
            <div class="v131_318"></div>
            <div class="v131_320"></div>
            <div class="v131_322"></div>
            <div class="v131_324"></div>
            <div class="v131_326"></div>
            <div class="v131_328"></div>
        </div><span class="v131_331">Tell me about your next dream trip</span><span class="v140_240">
            hint: date,
            location, preference
        </span><span class="v132_354">Let’s go >>></span>
        <form>
            <label for="Duration">Duration of Travel:</label>
            <input type="text" id="date" name="date"><br>

            <label for="StartingDate">Starting Date of Travel:</label>
            <input type="text" id="location" name="location"><br>

            <label for="Destinations">Destinations:</label>
            <input type="text" id="preference" name="preference"><br>

            <label for="Comments">Personality/Special preferences/Trip preferences:</label><br>
            <textarea id="comments" name="comments" rows="5" cols="40"></textarea><br>

            <input type="submit" value="Submit">
        </form>
        <div class="v132_355">
            <div class="v132_356"></div>
        </div>
    </div>
</body>
</html>