{% load static %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.3.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.3.0/ol.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    
    <!-- mainpage.html -->

    <title>DestinAIry - MainPage</title>
</head>

<body>
    <div class="container">
    <div class="text-container">
        <div class="text-areas">
            <textarea id="start" placeholder="Duration of travel"></textarea>

            <textarea id="date" placeholder="Starting Date"></textarea>
            <textarea id="destinations" placeholder="Destinations"></textarea>

            <textarea id="extra" placeholder="personality, preferences, etc..."></textarea>
            <button type="submit" class="LetsGoSub" id="LetsGoSub" >Let's Go -></button>
        </div>
    </div>
    <div class="map-container"id="floating-panel">
        <div id="map"></div>
    </div>

    </div>
    <script type = "text/javascript" src="{% static 'js/index.js' %}"></script>
</body>

</html>


<!-- prettier-ignore -->
