{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}">
    <!-- mainpage.html -->

    <title>DestinAIry - MainPage</title>
</head>

<body>
    <div class="v132_333">
        <span class="v132_359">DAY 1</span><span class="v132_412">Stay at</span>
        <button class="TEST" id="TEST" onclick="initMap()">test</button>
        <div id="floating-panel">
            <div id="map"></div>
        </div>
        <span class="v132_413">Dine in</span>
        <div class="v132_371"></div>
        <div class="v132_373"></div>
        <div class="v132_374"></div>
        <div class="v132_409"></div>
        <div class="v132_410"></div>
        <div class="v132_411"></div><span class="v132_414">Visit</span>
        <div class="v132_415"></div>
        <div class="v132_416"></div>
        <div class="v132_417"></div>
        <div class="v132_418"></div>
        <div class="v132_419"></div>
        <div class="v132_420"></div><span class="v132_350">Trip to <Place> from <Date> to <Date></span>
        <div class="v132_421"></div><span class="v137_59">Go to Day 2</span>
        <div class="v137_50">
            <div class="v137_51">
                <div class="v137_52"></div>
                <div class="v137_53"></div>
            </div><span class="v137_54">DestinAIry</span>
        </div>
        <div class="v137_55"></div><span class="v137_56">Profile</span><span class="v137_57">About us</span><span class="v137_58">Trips</span>
    </div>
    <script type = "text/javascript" src="{% static 'js/index.js' %}"></script>
</body>

</html>


<!-- prettier-ignore -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxe6-eUMgzOlgpNhlwVk-BRC5qDHlOgj4"></script>
