{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}">
    <!-- mainpage.html -->
    <script type="module" src="{% static 'js/index.js' %}"></script>

    <title>DestinAIry - MainPage</title>
</head>

<body>
    <div class="container">
    <div class="text-container">
        <div class="text-areas">
            <textarea id="start" placeholder="Duration of travel"></textarea>

            <textarea id="date" placeholder="Starting Date"></textarea>
            <textarea id="destinations" placeholder="Destinations"></textarea>

            <textarea id="extra" placeholder="personality, preferences, etc..."></textarea>
            <button type="submit" class="LetsGoSub" id="LetsGoSub" >Let's Go -></button>
        </div>
    </div>
    <div class="map-container"id="floating-panel">
        <div id="map"></div>
    </div>



</body>

</html>


<!-- prettier-ignore -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxe6-eUMgzOlgpNhlwVk-BRC5qDHlOgj4"></script>
